{%- set external_urls = {
  'github': 'https://github.com/unitreerobotics',
  'github_issues': 'https://github.com/LJoson/URE/issues',
  'contributing': 'https://github.com/LJoson/URE/blob/master/.github/CONTRIBUTING.md',
  'governance': 'https://github.com/LJoson/URE/blob/master/docs/governance.rst',
  'docs': 'https://ure.readthedocs.io/en/latest/index.html',
  'twitter': 'https://twitter.com/UnitreeRobotics',
  'discuss': 'https://github.com/LJoson/URE/discussions',
  'tutorials': 'https://ure.readthedocs.io/en/latest/#tutorials',
  'home': 'https://www.unitree.com/',
  'get_started': 'https://ure.readthedocs.io/en/latest/get_started/index.html',
  'features': 'https://pt-lightning.rtfd.io/en/latest/',
  'competition': 'https://ure.readthedocs.io/en/latest/competition',
  'resources': 'https://ure.readthedocs.io/en/latest/#community-examples',
  'support': 'https://ure.readthedocs.io/en/latest/',
  'legged_sdk':'https://github.com/unitreerobotics/unitree_legged_sdk',
  'camera_sdk':'https://github.com/unitreerobotics/UnitreecameraSDK',
  'z1_sdk':'https://github.com/unitreerobotics/z1_sdk',
  'actuator_sdk':'https://github.com/unitreerobotics/unitree_actuator_sdk',
  'unitree_ros':'https://github.com/unitreerobotics/unitree_ros',
}
-%}
